# Compiled Object files
out/
x64/
x86/
Debug/
Release/
*.lib
*.obj
*.aps

# IDE files
.vs/
.idea/

# Work files
*.ini
*.ncb
*.suo
*.sdf
*.opensdf
*.user
*.dmp
*.*~

# Binary files
*.m88
*.exe
*.rom
*.ROM
*.d88
*.D88
*.wav
*.WAV
